:root{
    /* width: 98vw; */
    margin:0;
    padding:0;
    font-size: 0.71vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    /* width: 1370px; */
    width: 98vw;
    height: 57vw;
    background-image: url('../img/page_1/head_track.png');
    background-repeat: no-repeat no-repeat;
    background-size: 100% 100%;
}
a{
    color:white;
    text-decoration: none;
}
#col_bl{
    color:black;
    text-transform: none;
}
#col_wh{
    color:white;
}
#logo{
    width: 10vw;
    height: 4.4vw;
    margin-top: 4.5vw;
    margin-left:1.7vw;
    float:left;
}
#logo img:nth-child(1){
    height: 2.8vw;
}
#logo img:nth-child(2){
    height: 0.9vw;
    margin-top: 0.6vw;
}
header ul{
    width: 56vw;
    padding-top: 6vw;
    margin-left: 37vw;
    color:white;
}
header li{
    width: auto;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 2.5vw;
    list-style: none;
    float:left;
}
#search{
    /* width: 73px; */
    width: 2.3vw;
    height: 1.6vw;
    background-image: url('../img/page_1/lupa.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 1vw;
}
/* --------Get Free Quotes--------- */
#quote{
    width: 10vw;
    height: 1vw;
    margin-top: -1.2vw;
    margin-left: 0px;
    padding-top: 1vw;
    padding-bottom: 1.8vw;
    padding-left: 1vw;
    border:2px solid white;
}
#quote span{
    font-size: 1.8rem;
    color:#4cb1ca;
}
header>div:nth-of-type(2){
    width: 34vw;
    height: 22vw;
    margin-left: 40vw;
    margin-top: 5vw;
    font-weight: bold;
}
header>div:nth-of-type(2)>div:nth-child(1){
    font-size: 2rem;
    color: #d596ba;
}
header>div:nth-of-type(2)>div:nth-child(2){
    color:white;
    font-size: 4rem;
    padding-bottom: 1.5vw;
    line-height: 4vw;
}
header>div:nth-of-type(2)>div:nth-child(3){
    font-size: 1.4rem;
    color:#97155b;
}
#red_but{
    width: 20vw;
    height: 4vw;
    font-size: 2.4rem;
    text-transform: capitalize;
    text-align: center;
    color:white;
    background-color: #d60c1a;
    margin-top: 5vw;
    padding-top:1.3vw;
}
/* -----------------------main------------------------- */
/* ------------------article--------------------- */
article{
    width: 98vw;
    height: 51vw;
    background-color: #a99494;
    padding-top: 1px;
}
#first_grid{
    display: grid;
    grid-template-columns: repeat(3,28.8vw);
    grid-template-rows: 40vw;
    gap: 2vw;
    margin-top: -1.5vw;
    margin-left: 3vw;
}
#first_grid>div:nth-of-type(1){
    grid-column: 1/2;
    background-color: white;
    display: inline-block;
    margin-left: 0px;;
}
#first_grid>div:nth-of-type(2){
    grid-column: 2/3;
    background-color: white;
    display: inline-block;
}
#first_grid>div:nth-of-type(3){
    grid-column: 3/4;
    background-color: white;
    display: inline-block;
}
article div>div p{
    font-weight: bold;
    padding-top: 2.2vw;
    padding-left: 2.2vw;
    color: black;
}
article div>div p:nth-of-type(1){
    font-size: 1.8rem;
    padding-top: 16.8vw;
}
article hr{
    width: 8.7vw;
    margin-left: 2.2vw;
    border: 4px solid red;
}
article div>div p:nth-of-type(2){
    font-size: 1rem;
    margin-top: 0.7vw;
}
/* second grid */
#sec_grid{
    display: grid;
    grid-template-columns: 340px,335px,340px;
    grid-template-rows: 16vw;
    margin-top: -40.8vw;
    overflow: hidden;
}
#sec_grid img:nth-of-type(1){
    grid-column: 1/2;
    background-color: white;
    margin-left: 5.8vw;
    display: inline-block;
    width: 24.8vw;
    height: 16vw;
}
#sec_grid img:nth-of-type(2){
    grid-column: 2/3;
    background-color: white;
    display: inline-block;
    width: 24.8vw;
    margin-left: -3vw;
}
#sec_grid img:nth-of-type(3){
    grid-column: 3/4;
    background-color: white;
    display: inline-block;
    width: 24.4vw;
}
/* section */
section{
    width: 98vw;
    height: 79.7vw;
    background-color: black;
    padding-top: 1px;
}
section div{
    width: 94.3vw;
    height: 41.3vw;
    background-color: white;
}
section p{
    margin-top: -0.6vw;
    margin-left: 75.2vw;
    padding-top: 8.7vw;
    font-size: 1.4rem;
    font-weight: bold;
}