:root{
    /* width: 1920px; */
    margin:auto;
    color:white;
    font-size: 0.71vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    /* width: 1920px; */
    width: 98vw;
    height: 52vw;
    background-image: url('../img/head_back.jpg');
    background-repeat: no-repeat no-repeat;
    background-size: 100% 100%;
}
a{
    color:white;
    text-decoration:none ;
}
#logo{
    width: 12.5vw;
    height: 5.5vw;
    margin-top: 2.1vw;
    margin-left: 4.7vw;
    float:left;
}
header ul{
    width: 50vw;
    padding-top: 4vw;
    margin-left: 42.7vw;
}
header li{
    width: 5.5vw;
    height: 0.9vw;
    font-size: 0.9vw;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    float:left;
}
header li:nth-of-type(2){
    color: red;
}
#search{
    height: 2vw;
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#quote{
    width: 8.8vw;
    height: 1.3vw;
    margin-top: -1.3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    border:2px solid white;
}
header div:first-of-type{
    width: 40vw;
    height: 1.8vw;
    margin-top: 8.3vw;
    margin-left: 19.8vw;
    font-size: 0.9vw;
}
header div:nth-of-type(2){
    width: 58vw;
    height: 12.5vw;
    text-transform: uppercase;
    line-height: 6.3vw;
    margin-left: 19.8vw;
    font-size: 5vw;
}
header div:nth-of-type(3){
    width: 50vw;
    height: 3.1vw;
    font-size: 0.8vw;
    font-weight: normal;
    margin-top: 1.6vw;
    margin-left: 19.8vw;
}
.red_button{
    width: 14vw;
    height: 2.8vw;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color:white;
    padding-top: 1.6vw;
    margin-top: 1.3vw;
    margin-left: 19.8vw;
    background-color: red;
}
header div:nth-of-type(5){
    width: 10vw;
    height: 1.6vw;
    text-align: center;
    color:white;
    padding-top: 1.6vw;
    margin-top: 1.6vw;
    margin-left: 48vw;
}
header div:nth-of-type(5) span:first-of-type{
    padding: 0.2vw;
    font-size: 1.2vw;
    color:red;
}
header div:nth-of-type(5) span:nth-of-type(2){
    font-size: 1vw;
    padding-right: 0.4vw;
}
header a{
    text-decoration: none;
}
/* ------------main---------------- */
main>div:first-child{
    height: 32.8vw;
    background-image: url('../img/sec_back.jpg');
    padding-top: 1px;
}
section{
    width: 62.5vw;
    height: 32.8vw;
    display:grid;
    grid-template-columns: repeat(3, minmax(15vw, 19.3vw));
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow:column;
    grid-gap: 0.5vw 1.6vw;
    margin-top: -3.6vw;
    margin-left: 18vw;
}
section div{
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat no-repeat;
    background-position: top;
    overflow: hidden;
}
section div:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url('../img/track_grid_1.png');
    /* background-size: 100% 100%; */
}
section div:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1vw;
    font-weight: normal;
    color:black;
    margin-top: 2.6vw;
    background: none;
}
section div:nth-child(2) span{
    font-weight: bold;
}
section div:nth-child(3){
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url('../img/shore_grid_2.png');
    /* background-size: 100% 100%; */
}
section div:nth-child(4){
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url('../img/plane_grid_3.png');  
    /* background-size: 100% 100%; */
}
section div:nth-child(5){
    font-size: 0.8vw;
    text-align: end;
    text-transform: uppercase;
    color:black;
    margin-top: 2.6vw;
    background: none;
}
section div:nth-child(5) span{
    color: red;
}
section div:nth-child(5) a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

section p:nth-of-type(1){
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1.6vw;
    padding-left: 1.6vw;
    margin-top: 14vw;
    color: black;
}
section hr{
    width: 1.6vw;
    margin-top: 0px;
    margin-left: 1.6vw;
    border: 4px solid red;
}
section p:nth-of-type(2){
    width: 17vw;
    height: 3.6vw;
    font-size: 0.8vw;
    padding-left: 1.6vw;
    opacity: 0.5;
    color: black;
}
/* ---------------------article----------- */
article{
    width: 98vw;
    height: 55vw;
}
article>div{
    width: 61vw;
    height: 6.8vw;
    padding-top: 4.6vw;
    margin-left: 19.7vw;
    font-size: 1.2vw;
    text-align: center;
    color:black;
}
article hr{
    width: 5.2vw;
    margin-top: 1vw;
    text-align: center;
    border: 4px solid red;
}
/* track_video_youtube */
main>img{
    width: 98vw;
}
#sec_grid{
    width: 76vw;
    height: 31vw;
    margin-top: 1.6vw;
    margin-left: 15vw;
    display:grid;
    grid-template-columns: 39vw repeat(2, 19.7vw);
    grid-template-rows: repeat(7, 3.6vw);
    grid-gap: 0.5vw 1.6vw;
    grid-auto-flow: column;
}
#sec_grid div{
    font-size: 1vw;
    text-align: left;
}
/* ABOUT US */
#sec_grid div:nth-child(1){
    text-align: left;
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
}
#sec_grid div:nth-child(2){
    width: 39vw;
    background-image: url('../img/slider.png');
    background-size: 100% 100%;
}
#sec_grid div:nth-child(4){
    grid-row: 4/6;
}
#sec_grid div:nth-child(5){
    grid-row: 6/8;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1.6vw;
}
#sec_grid span{
    color:red;
}
#sec_grid div:nth-child(6){
    grid-column: 2/3;
    grid-row: 1/8;
    background-image: url('../img/people.png');
    background-size: 100% 100%;
}
#sec_grid div:nth-child(7){
    grid-column: 3/4;
    grid-row: 1/8;
    background-image: url('../img/man.png');
    background-size: 100% 100%;
}
/* --------------------------nav---------------------------------- */
nav{
    height: 41vw;
    padding-top: 6.2vw;
    margin-left: 5.2vw;
    display: grid;
    grid-template-columns: 19.6vw 19.6vw 13vw 15.6vw;
    grid-template-rows: 3.1vw 4.2vw 2.6vw 13.5vw 5.2vw;
    grid-gap: 1px 1.6vw;
    grid-auto-flow: column;
}                                 
nav div{
    color:black;
    text-align: left;
}
/* nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
} */
nav div:nth-child(1){
    grid-row: 1/6;
    background-image: url('../img/plane_0.png');
    background-size: 100% 100%;
}
nav div:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/6;
    background-image: url('../img/loader_0.png');
    background-size: 100% 100%;
}
nav div:nth-child(3){
    grid-column: 3/5;
    grid-row: 1/2;
    text-transform: uppercase;
    font-size: 1.2vw;
}
nav div:nth-child(4){
    grid-column: 3/5;
    grid-row: 2/3;
    font-size: 1vw;
    font-weight: normal;
}
nav div:nth-child(5) hr{
    margin-left: 0px;
    margin-top: 1vw;
    border: 4px solid red;
    width: 5.2vw;
    text-align: left;
}
.ul_middle ul{
    padding:0px;
    list-style: none;
}
.ul_middle li{
    padding-bottom: 2vw;
    text-align: left;
}
.ul_middle li::before{
    content: "\203A ";
    padding-right: 0.5vw;
    color:red;
}
/* -------------FAQs------------------ */
#faqs{
    width: 98vw;
    height: 36.5vw;
    display:grid;
    grid-template-columns: 18.2vw 35vw 26vw;
    grid-template-rows: 4.7vw 6.5vw 1.6vw 3.1vw 2vw 2.6vw 4.7vw 5.2vw;
    grid-auto-flow: column;
    background-color: #eeeeee;
    color:black;
}
#faqs div:nth-child(1){
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
}
#faqs div:nth-child(2){
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 0.8vw;
    color:red;
}
#faqs div:nth-child(3){
    grid-column: 2/3;
    grid-row: 4/6;
    width: 26vw;
    font-size: 0.8vw;
    opacity: 0.5;
    padding-left: 1vw;
}
#faqs div:nth-child(4){
    grid-column: 2/3;
    grid-row: 6/9;
    width: 27vw;
}
#faqs div:nth-child(4) ul{
    font-size: 0.8vw;
    list-style:none;
    padding-left: 0px;
}
#faqs div:nth-child(4) li{
    padding-bottom: 1vw;
}
/* second column */
#faqs div:nth-child(5){
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
}
#faqs div:nth-child(6){
    grid-column: 3/4;
    grid-row: 3/5;
    font-size: 0.8vw;
    color:red;
}
#faqs div:nth-child(6) p:first-child{
    float:left;
    width: 4.2vw;
    height: 4.2vw;
    margin: 0px;
    background-image: url('../img/Alfred.png');
    background-size: 100% 100%;
}
#faqs div:nth-child(6) p:nth-child(2){
    padding-left: 5.2vw;
    text-transform: uppercase;
}
#faqs div:nth-child(6) p:nth-child(3){
    padding-left: 5.2vw;
    margin-top: -0.8vw;
    color:black;
}
#faqs div:nth-child(7){
    grid-column: 3/4;
    grid-row: 5/7;
    width: 26vw;
    font-size: 0.8vw;
}
#faqs div:nth-child(8){
    grid-column: 3/4;
    grid-row: 7/8;
    font-size: 0.8vw;
    color:red;
}
#faqs div:nth-child(8) p:first-child{
    float:left;
    width: 4.2vw;
    height: 4.2vw;
    margin: 0px;
    background-image: url('../img/Callie.png');
    background-size: 100% 100%;
}
#faqs div:nth-child(8) p:nth-child(2){
    padding-left: 5.2vw;
    text-transform: uppercase;
}
#faqs div:nth-child(8) p:nth-child(3){
    padding-left: 5.2vw;
    margin-top: -0.8vw;
    color:black;
}
#faqs div:nth-child(9){
    grid-column: 3/4;
    grid-row: 8/9;
}
/* --------------------------footer---------------------- */
.red_block{
    height: 7.8vw;
    background-color: #d60c1a;
    display:grid;
    grid-template-columns: 24.5vw 28.6vw 7.6vw 14.3vw;
    grid-template-rows: 2.3vw 1.6vw 1.6vw;
    gap:0px;
    grid-auto-flow: column;
    color:white;
}
.red_block div:nth-child(1){
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.1vw;
    font-weight: bold;
    text-transform: uppercase;
}
.red_block div:nth-child(2){
    grid-column: 2/3;
    grid-row: 3/4;
    padding-top: 0.4vw;
    font-size: 0.7vw;
}
.red_block div:nth-child(3){
    grid-column: 4/5;
    grid-row: 2/4; 
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 0.8vw;
    background-color: #242633;
    padding-top: 0.8vw;
}
/* -------------------footer second aria----------------------------- */
.grey_block{
    height: 28.6vw;
    background-color: #242633;
    display:grid;
    grid-template-columns: 19.3vw 14vw 7vw 10vw 10vw 21vw;
    grid-template-rows: 3vw 5.2vw 6.3vw 6.3vw 3vw 1.6vw 2.6vw;
    gap: 0px;
    grid-auto-flow: row;
    color:white;
}
.grey_block>div:nth-child(1){
    grid-column: 2/3;
    grid-row:2/3;
    background-image: url('../img/logo_foot.png');
    background-size: 100% 100%;
}
.grey_block>div:nth-child(2){
    grid-column: 2/3;
    grid-row:3/4;
    padding-top: 1vw;
    opacity: 0.5;
}
.grey_block>div:nth-child(3){
    grid-column: 4/5;
    grid-row:2/3;
}
.grey_block>div:nth-child(4){
    grid-column: 6/7;
    grid-row: 2/3;
}
.f_capt{
    padding-top: 1vw;
    font-size: 1vw;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}
.f_capt p{
    width: 5.2vw;
    border:2px solid red;
}
.grey_block>div:nth-child(5){
    grid-column: 4/5;
    grid-row: 3/5;
}
.grey_block>div:nth-child(6){
    grid-column: 5/6;
    grid-row: 3/5;
}
.grey_block>div:nth-child(7){
    grid-column: 6/7;
    grid-row: 3/6;
}
.grey_block ul{
    margin:0px;
    padding:0px;
    text-transform: capitalize;
    list-style: none;
}
.grey_block li{
    padding-bottom: 1.6vw;
}
.red_line{
    color:red;
}
.op_05{
    opacity: 0.5;
}
/* network icons */
.grey_block>div:nth-child(8){
    grid-column: 2/3;
    grid-row: 4/5;
}
/* address */
.grey_block>div:nth-child(9){
    grid-column: 2/5;
    grid-row: 7/8;
    display: inline-block;
    padding-left: 11vw;
}
/* phone */
.grey_block div:nth-child(10){
    grid-column: 5/6;
    grid-row: 7/8;
}
/* mail */
.grey_block div:nth-child(11){
    grid-column: 6/7;
    grid-row: 7/8;
    text-transform: lowercase;
}
.grey_block div:nth-child(11)>span{
    text-transform: lowercase;
}
/* line */
.grey_block div:nth-child(12){
    grid-column: 2/7;
    grid-row: 6/7;
}
.grey_block hr{
    opacity: 0.2;
}
#foot_red_icons{
    height: 1.3vw;
    margin-left: 27vw;
    margin-top: 25.3vw;
    display: grid;
    grid-template-columns: 2vw 18.5vw 2vw 8vw 2vw;
    grid-template-rows: 1.3vw;
}
#foot_red_icons img:nth-of-type(1){
    grid-column: 1/2;
}
#foot_red_icons img:nth-of-type(2){
    grid-column: 3/4;
}
#foot_red_icons img:nth-of-type(3){
    grid-column: 5/6;
}
/* -------------------footer bottom aria----------------------------- */
footer>div:nth-of-type(3){
    height: 2.6vw;
    background-color: #191b28;
}
.black_block{
    height: 1.6vw;
    text-align: center;
    padding-top: 1vw;
    font-weight: bold;

}
.black_block span{
    opacity: 0.5;
}